<%- include('../partials/head') %>
<body>
  <%- include('../partials/header_nav'); %>
  <main id="main">
    <%- include('../partials/breadcrumbs'); %>
    <!-- MAP SECTION -->
    <div class="map-section">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            class="gmap_iframe"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?hl=en&amp;q=<%= `${data.name} ${data.address}` %>&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe
          ><a href="https://piratebay-proxys.com/">Piratebay</a>
        </div>
      </div>
    </div>
    <!-- End #MAP -->
    <section id="pricing" class="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="https://picsum.photos/400" style="width: 100%" />
          </div>
          <div class="col-md-7">
            <h1 class="text-center float-start">
              <%= data.name %> <%if(isLoggedUser && isLoggedUser ===
              data.author){%>
              <div>
                <a
                  title="Edit"
                  class="btn btn-md btn-success float-start m-1"
                  href="/listing/edit/<%= data._id %>"
                >
                  <i class="bx bx-pencil"></i>
                </a>
                <form
                  action="/listing/delete/<%= data.id %>?_method=DELETE"
                  method="POST"
                >
                  <button
                    title="Delete"
                    onclick="if(!confirm('Are you sure you want to delete this listing?')) return false;"
                    class="btn btn-md btn-danger m-1 float-start"
                    href="/listing/delete/<%= data._id %>"
                  >
                    <i class="bx bx-trash"></i>
                  </button>
                </form>
              </div>
              <%}%>
            </h1>
            <div class="row float-start">
              <h4>
                <sup>₱</sup><%= data.price.toLocaleString('en-US') %>
                <span> / night </span>
              </h4>
              <p><%= data.description %></p>
              <p><u><%= data.address %></u></p>
              <p>
                <i><b>author:</b> <%= data.author %></i>
              </p>
              <i>
                <%=
                `${data.date.getMonth()+1}/${data.date.getDate()}/${data.date.getFullYear()}`
                %>
              </i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials" class="testimonials cta">
      <div class="container">
        <% if(isLoggedUser){ %>
        <form
          method="POST"
          action="/listing/comments/add/<%= data._id %>"
          class="m-2"
        >
          <input
            type="hidden"
            name="commented_by"
            value="<%= isLoggedUser; %>"
          />
          <label>Add Review:</label>
          <textarea
            class="form-control m-2"
            required
            name="body"
            rows="5"
          ></textarea>
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </form>
        <%} else{%>
        <p>Note: You must Login to Add Reviews.</p>
        <%}%>
        <br />
        <div class="row">
          <% let fade_sec = 0; for(let comment of data.comments){ %>
          <div
            class="col-lg-6"
            data-aos="fade-up"
            data-aos-delay="<%= fade_sec %>"
          >
            <div class="testimonial-item mt-4">
              <img src="/assets/img/about.jpg" class="testimonial-img" alt="" />
              <h3><%= comment.commented_by %></h3>
              <h4><%= `${comment.commented_date.toLocaleString()}` %></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                <%= comment.body %>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <% fade_sec = fade_sec + 300; } %>
        </div>
      </div>
    </section>
  </main>
  <%- include('../partials/footer'); %>
</body>
